#########################################
# Configuration file for runOkapi.py, 
# Edit this to reflect your environment
#########################################

[hadoop]
version: apache1

zookeeper-dir: /home/linas/_bsp
hadoop-mem: -Xmx1g

[okapi]
workers: 1

giraph-jar: /Users/linas/devel/giraph/giraph-core/target/giraph-1.1.0-SNAPSHOT-for-hadoop-0.20.203.0-jar-with-dependencies.jar
okapi-jar: /Users/linas/devel/GraphLib/target/okapi-0.8-SNAPSHOT-jar-with-dependencies.jar

number-of-negative-samples-in-eval: 100

[core]
default-scheduler-host: localhost
error-email: email@error.com
